@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* @layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
} */

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    background-color: #f0f0f0;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}

/* Add this to your index.css file */
.social-icon {
    
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .social-icon:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #26383d;
    color: #fff;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
/* Styles for tech profile icons */
@media (max-width: 768px) {
    .social-icon {
      width: 50px;
      height: 50px;
      padding: 10px;
    }
  }
@media (max-width: 360px) {
  /* Galaxy S8 */
  .social-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}

@media (max-width: 280px) {
  /* Galaxy Fold */
  .social-icon {
    width: 35px;
    height: 35px;
    padding: 4px;
  }
}
